<div class="container todoList d-flex flex-column justify-content-center align-items-center">
  <div *ngIf="loading" class="row">
    Recupero Task...
  </div>
  <ul *ngIf="!loading">
    <li *ngFor="let todo of todoList">
      - {{ todo.title }}
      <span (click)="markAsCompletedClicked(todo)">✅</span>
    </li>
  </ul>
  <div *ngIf="!loading && todoList.length === 0" class="row">
    Non ci sono task.
  </div>  
  <div class="row">
    <form (submit)="addTodo()">
      <input [(ngModel)]="newTodoTitle" name="name" placeholder="Add new todo" />
      <button type="submit" class="btn btn-warning">+</button>
    </form>  
  </div>
</div>